$color-main: #101014;
$color-secondary: #2f2f2f;
$light-color-main: #EFEFEB;
$light-color-secondary: #D0D0D0;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 400ms;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: $color-secondary;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    main{
        position: relative;
        height: 90vh;
        width: 70vw;
        background-color: $color-main;
        border-radius: 40px;
        padding: 2rem;
        nav{
            position: relative;
            display: flex;
            height: 3rem;
            width: 100%;
            & > * {
                background-color: $color-secondary;
                height: 3rem;
                border-radius: 3rem;
            }
            .settings, .notifications, .profile{
                width: 3rem;
            }
            .settings, .notifications{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.5rem;
            }
            .location{
                width: 15%;
                background-color: $color-main;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 1.2rem;
                    margin-right: 0.5rem;
                }
                .country{
                    color: #bbb;
                }
            }
            .search-box {
                width:40%;
                display: flex;
                align-items: center;
                padding: 0 1rem;
                margin:  0 14rem 0 5rem;
                i{
                    font-size: 1.2rem;
                    margin-right: 1rem;
                }
                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 1rem;
                    width: 100%;
                }
            }
            .theme{
                width: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                transition: 300ms;
                i{
                    font-size: 1.2rem;
                    color: yellow;
                }
            }
            .profile{
                background-image: url(img/80410906.df847f69.161x161o.490664040683@2x.png);
                background-size: cover;
            }
        }
        article{
            margin-top: 2rem;
            width: 100%;
            height: calc(100% - 5rem);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 2rem;
            & > *{
                background-color: $color-secondary;
                border-radius: 1rem;
                color: #bbb;
            }
            .week-weather{
                background-color: $color-main;
                grid-column: 1/4;
                grid-row: 1/3;
                display: grid;
                grid-template-columns: repeat(8,1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 1rem;
                font-weight: 600;
                .day-nav{
                    grid-row: 1/2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .day-nav:nth-child(1){
                    grid-column: 1/2;
                }
                .day-nav:nth-child(2){
                    grid-column: 2/3;
                }
                .day-nav-active{
                    color: #fff;
                }
                .day{
                    background-color: $color-secondary;
                    border-radius: 2rem;
                    grid-row: 2/6;
                    text-align: center;
                    .day-name{
                        border-radius: 2rem 2rem 0 0;
                        width: 100%;
                        height: 3.5rem;
                        background-color: rgba(00, 00, 00, 0.2);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .day-name-day{
                            color: #fff;
                        }
                    }
                    .day-container{
                        height: 100%;
                        width: 100%;
                        display: block;
                        .day-weather-icon{
                            height: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                height: 70%;
                            }
                        }
                        .day-temp{
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        .day-temp-detiled, .day-sun{
                            display: none;
                        }
                    }
                }
                .day:nth-child(3) {
                    grid-column: 1/3;
                    background-color: rgb(151, 220, 243);
                    .day-name{
                        color: #000;
                        justify-content: space-between;
                        padding: 1rem;
                        .day-name-day{
                            color: #000;
                        }
                    }
                    .day-container{
                        height: calc(100% - 3rem);
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(5, 1fr);
                        .day-temp{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            grid-column: 1/2;
                            grid-row: 1/3;
                            color: #000;
                            font-size: 2.5rem;
                        }
                        .day-weather-icon{
                            grid-column: 2/3;
                            grid-row: 1/4;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                height: 80%;
                            }
                        }
                        .day-sun, .day-temp-detiled{
                            display: block;
                            text-align: left;
                            font-weight: 400;
                            color: #313131;
                            font-size: 10px;
                            white-space: nowrap;
                            
                        }
                        .day-temp-detiled{
                            grid-column: 1/2;
                            grid-row: 3/6;
                            padding: 1rem 0 0 1rem;
                        }
                        .day-sun{
                            grid-column: 2/3;
                            grid-row: 4/6;
                            padding: 0 0 0 1rem;
                        }
                    }
                }
            }
            .rain{
                grid-column: 4/5;
                grid-row: 1/3;
                padding: 1rem;
                background-color: $color-main;
                h1{
                    color: #fff;
                    text-align: left;
                    font-size: 1rem;
                    font-weight: 600;
                }
                .rain-container{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    text-align: center;
                    div:nth-child(1){
                        grid-column: 1/2;
                        grid-row: 1/2;
                    }
                    div:nth-child(2){
                        grid-column: 1/2;
                        grid-row: 2/3;
                    }
                    div:nth-child(3){
                        grid-column: 1/2;
                        grid-row: 3/4;
                    }
                    div:nth-child(4){
                        grid-column: 1/2;
                        grid-row: 4/5;
                    }
                    div:nth-child(5){
                        grid-column: 1/2;
                        grid-row: 5/6;
                    }
                    .rain-chart{
                        grid-row: 1/6;
                        margin-left: 1rem;
                        width: 4px;
                        background-color: rgb(151, 220, 243);
                        border-radius: 1rem;
                    }
                }
            }
            .global-map{
                grid-column: 1/4;
                grid-row: 3/6;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: $color-secondary;
            }
            .other-cites{
                grid-column: 4/5;
                grid-row: 3/6;
                padding: 0 2rem;
            }
        }
    }
}



.dark-theme{
    background-color: $color-secondary;
    color: white;
    main{
        background-color: $color-main;
        nav{
            & > * {
                background-color: $color-secondary;
            }
            .location{
                background-color: $color-main;
                .country{
                    color: #bbb;
                }
            }
            .theme{
                i{
                    font-size: 1.2rem;
                    color: yellow;
                }
            }
            .theme, .notifications, .settings{
                background-color: $color-secondary;
                &:hover{
                    cursor: pointer;
                    background-color: #1f1f1f;
                }
            }
        }
        article{
            & > *{
                background-color: $color-secondary;
                color: #bbb;
            }
            .week-weather{
                background-color: $color-main;
                .day-nav-active{
                    color: #fff;
                }
                .day{
                    background-color: $color-secondary;
                    .day-name{
                        background-color: rgba(00, 00, 00, 0.2);
                        .day-name-day{
                            color: #fff;
                        }
                    }
                }
                
            }
            .rain{
                background-color: $color-main;
                h1{
                    color: #fff;
                }
                .rain-container{
                    .rain-chart{
                        background-color: rgb(151, 220, 243);
                    }
                }
            }
            .global-map{
                color: black;
                background-color: $color-secondary;
            }
        }
    }
}

.second-day{
    .week-weather{
        .day:nth-child(3){
            background-color: #1f1f1f;
            border-radius: 2rem;
            grid-row: 2/6;
            grid-column: 1/2;
            text-align: center;
            .day-name{
                border-radius: 2rem 2rem 0 0;
                width: 100%;
                height: 3.5rem;
                background-color: rgba(00, 00, 00, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                .day-name-day{
                    color: #fff;
                }
                .day-name-date{
                    display: none;
                }
            }
            .day-container{
                height: 100%;
                width: 100%;
                display: block;
                .day-weather-icon{
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 70%;
                    }
                }
                .day-temp{
                    color: #bbb;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .day-temp-detiled, .day-sun{
                    display: none;
                }
            }
        }
        .day:nth-child(4) {
            grid-column: 2/4;
            background-color: rgb(151, 220, 243);
            .day-name{
                color: #000;
                justify-content: space-between;
                padding: 1rem;
                .day-name-day{
                    color: #000;
                }
            }
            .day-container{
                height: calc(100% - 3rem);
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                .day-temp{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    grid-column: 1/2;
                    grid-row: 1/3;
                    color: #000;
                    font-size: 2.5rem;
                }
                .day-weather-icon{
                    grid-column: 2/3;
                    grid-row: 1/4;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 80%;
                    }
                }
                .day-sun, .day-temp-detiled{
                    display: block;
                    text-align: left;
                    font-weight: 400;
                    color: #313131;
                    font-size: 10px;
                    white-space: nowrap;
                    
                }
                .day-temp-detiled{
                    grid-column: 1/2;
                    grid-row: 3/6;
                    padding: 1rem 0 0 1rem;
                }
                .day-sun{
                    grid-column: 2/3;
                    grid-row: 4/6;
                    padding: 0 0 0 1rem;
                }
            }
        }  
    }
}

.light-theme{
    background-color: $light-color-secondary;
    color: black;
    main{
        background-color: $light-color-main;
        nav{
            & > * {
                background-color: $light-color-secondary;
            }
            .location{
                background-color: $light-color-main;
                .country{
                    color: #444;
                }
            }
            .search-bar{
                color: #000000;
            }
            .theme i{
                font-size: 1.2rem;
                color: rgb(255, 136, 0);
            }
            .theme, .notifications, .settings{
                background-color: $light-color-secondary;
                &:hover{
                    cursor: pointer;
                    background-color: #e0e0e0;
                }
                i{
                    color: #0f0f0f;
                }
            }
        }
        article{
            & > *{
                background-color: $light-color-secondary;
                color: #000000;
            }
            .week-weather{
                background-color: $light-color-main;
                color: #313131;
                .day-nav-active{
                    color: #000000;
                }
                .day{
                    background-color: $light-color-secondary;
                    color: #000000;
                    .day-name{
                        background-color: rgba(00, 00, 00, 0.2);
                        .day-name-day{
                            color: #000000;
                        }
                    }
                }
                .day:nth-child(3) {
                    // background-color: $light-color-secondary;
                    color: #000000;
                    .day-name{
                        color: #000;
                        .day-name-day{
                            color: #000;
                        }
                    }
                    .day-container{
                        .day-temp{
                            color: #000000;
                        }
                        .day-sun, .day-temp-detiled{
                            color: #313131;
                        }
                    }
                }
            }
            .rain{
                background-color: $light-color-main;
                h1{
                    color: #000;
                }
                .rain-container{
                    .rain-chart{
                        background-color: rgb(151, 220, 243);
                    }
                }
            }
            .global-map{
                background-color: $light-color-secondary;
            }
        }
    }
}


.second-day.light-theme{
    .week-weather{
        .day:nth-child(3){
            background-color: $light-color-secondary;
        }
    }
}